* {
  box-sizing: border-box;
}
.bar-container {
  border-radius: 5px;
  width: 100%;
  background-color: grey;
}

.progress-bar {
  display: flex;
  padding-left: 5px;
  align-items: center;
  height: 30px;
  width: 0%;
  border-radius: 5px;
  background-color: green;
}