input {
    width: 300px;
}

ul {
    border: 1px solid red;
    margin: 0;
    padding: 0;
    width: 300px;
}

li {
    text-decoration: none;
    list-style: none;
    border: 1px solid black;
}

span {
    border: 1px solid blue;
}
